/* Universal */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Body */

body {
    background-color: rgba(38, 162, 233, 0.603);
}


/* Header */

header {
    height: 200px;
    margin-bottom: 50px;
}

header h1 {
    position: absolute;
    top: 120px;
    left: 12px;
    color: white;
    background-color: black;
    font-size: 3em;
    margin: 0;
}

.banner-img {
    width: 100%;
    height: 100%;
    border-style: solid;
    position: relative;
}


/* Content */

.historia {
    border: 4px black solid;
    border-radius: 25px;
    width: 45%;
    margin-left: 3.5%;
    background-color: rgb(20, 45, 94);
    color: white;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.historia p {
    margin-left: 8px;
    margin-right: 8px;
}

.historia-img {
    display: inline-block;
    text-align: right;
    width: 45%;
    margin-right: 3.5%;
    margin-left: 2%;
}

.email {
    max-width: 100%;
    border: 4px black solid;
    border-radius: 25px;
}


/* Content del 2 */

.society {
    width: 45%;
    margin-left: 3.5%;
    margin-top: 50px;
    display: inline-block;
}

.society-img {
    max-width: 100%;
    border-radius: 25px;
    border: 4px black solid;
}

.impact {
    width: 45%;
    background-color: rgb(20, 45, 94);
    color: white;
    border-radius: 25px;
    border: 4px black solid;
    float: right;
    text-align: center;
    margin-top: 50px;
    margin-right: 3.5%;
}

